.autumnDouble {
    width: 100vw;
    height: 100vh;
    background: url('./Assets/AUTUMN CUTSCENE.svg') no-repeat center center;
    background-size: contain;
    background-color: #799eefb9;
}

.autumnDouble.greyed-out {
    filter: grayscale(100%);
    opacity: 0.5;
}

.autumnDouble-container {
    position: relative; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}

.autumnDouble-button-bar {
    display: flex;
    gap: 20px; 
}

.autumnDouble-button-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2; 
}

.autumnDouble-button-bar button:hover {
    background-color: #e0e0e0;
}

.autumnResults-player-list {
    position: absolute;
    top: 1rem;
    left: 5rem;
}


