.createRoom-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-createRoom img {
    width: 100vw;
    max-width: 700px;
    height: 85vh;
}

.input-password-container {
    margin-bottom: 0.25rem;
}

.password-input-box {
    line-height: 2.5;
    padding: 0.25rem 0.5rem;
    width: 10rem;
    height: 2.5rem;
}

.createRoom-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
    cursor: pointer;
}

.createRoom-button:hover {
    background-color: rgb(54, 54, 54);
}


@media (max-width: 500px) {   
    .password-input-box {
        width: 8rem;
        height: 2.25rem;
    }
    
    .createRoom-button {
        padding: 0.5rem 1.5rem;
        font-size: 0.75rem;
    }
}

@media (max-height: 850px) {
    .password-input-box {
        width: 8rem;
        height: 2.25rem;
    }
    
    .createRoom-button {
        padding: 0.5rem 1.5rem;
        font-size: 0.75rem;
    }

    .createRoom-button-container {
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 300px), (max-height: 500px) {
    .password-input-box {
        width: 6rem;
        height: 2rem;
    }
    
    .createRoom-button {
        padding: 0.25rem 1.25rem;
        font-size: 0.5rem;
    }

    .createRoom-button-container {
        margin-bottom: 3.5rem;
    }
}