.whole-page{
    background-color: #fff;
    height: 100vh;
}

.input-password-container {
    margin-bottom: 1rem;
    text-align: center;
}

.password-input-box {
    padding: 0.5rem 0.75rem;
    font-family: arial, verdana;
    line-height: 2.5;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 700px), (max-height: 700px) {
    .logo img {
        max-height: 80vh;
    }

    .password-input-box {
        padding: 0.4rem 0.6rem;
        font-size: 0.875rem;
        line-height: 2;
    }
}

@media (max-width: 500px), (max-height: 500px) {
    .logo img {
        max-height: 70vh;
    }

    .password-input-box {
        padding: 0.3rem 0.5rem;
        font-size: 0.75rem;
        line-height: 1.5;
    }
}

@media (max-width: 220px), (max-height: 200px) {
    .logo img {
        max-height: 60vh;
    }

    .password-input-box {
        padding: 0.25rem 0.45rem;
        font-size: 0.65rem;
        line-height: 1.4;
    }
}

@media (max-width: 182px), (max-height: 135px) {
    .logo img {
        max-height: 50vh;
    }

    .password-input-box {
        padding: 0.2rem 0.4rem;
        font-size: 0.5rem;
        line-height: 1.25;
    }
}

@media (max-width: 100px), (max-height:100px) {
    .logo img {
        max-height: 20vh;
    }

    .password-input-box {
        padding: 0.05rem 0.1rem;
        font-size: 0.25rem;
        line-height: 1;
    }
}