.createRoom-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-createRoom img {
    width: 100vw;
    max-width: 600px;
    height: auto;
    max-height: 85vh;
}

.createRoom-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    max-width: 250px;
}

.createRoom-container input {
    border: 1px solid black;
    padding: 0.75rem 0.75rem;
}

.createRoom-container button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.75rem 0.75rem;
    text-align: center;
    cursor: pointer;
}

.createRoom-container button:hover {
    background-color: rgb(54, 54, 54);
}

.create-button {
    margin: 1rem;
    width: 100px;
}

.back-button {
    margin: 1rem;
    width: 100px;
}

@media (max-height: 700px) {
    .logo-createRoom img {
        height: 70vh;
    }
}

@media (max-width: 300px) {
    .createRoom-container {
        max-width: 150px;
    }
}