.joinRoom-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-joinRoom img {
    width: 100%;
    max-width: 600px;
    height: auto;
    max-height: 80vh;
}

.joinRoom-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    max-width: 200px;
}

.joinRoom-container input {
    border: 1px solid black;
    padding: 0.5rem 0.5rem;
}

.joinRoom-container button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 0.5rem;
    text-align: center;
    cursor: pointer;
}

.joinRoom-container button:hover {
    background-color: rgb(54, 54, 54);
}

.join-button {
    margin: 1rem;
    width: 100px;
}

.back-button {
    margin: 1rem;
    width: 100px;
}

@media (max-height: 650px) {
    .logo-joinRoom img {
        height: 70vh;
    }
}

@media (max-width: 250px) {
    .joinRoom-container {
        max-width: 150px;
    }
}