.randomTeams {
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-color: #ef79b0b9;
    align-items: center;
}

.randomTeams-container {
    position: relative; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}

.randomTeams-button-bar {
    display: flex;
    gap: 20px; 
}

.randomTeams-button-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2; 
}

.randomTeams-button-bar button:hover {
    background-color: #e0e0e0;
}

/* @media (max-width: 1280px) {
    .randomTeams-button-bar {
        flex-direction: column;
    }
} */
