.roomPageView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roomPageView button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 0.5rem;
    text-align: center;
    cursor: pointer;
}

.roomPageView-logo img {
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 40vh;
}

.code-section p {
    margin: 0;
}

.code-section h1 {
    margin: 0 0 0.5rem 0;
    text-align: center;
}

.roomPageView-container {
    border-radius: 3px;
    background-color: hsla(0, 0%, 95%, 0.5);
    box-shadow: 0.5rem 0.5rem 1rem hsl(0, 0%, 90%);
    width: 80%;
}

.roomPageView-container h2 {
    text-align: center;
}

.roomPageView-container ul {
    list-style-type: none;
    padding: 0;
}

.roomPageView-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.roomPageView-container input, span {
    margin-right: 0.5rem;
}

.roomPageView-button-bar {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    width: 200px;
}

.roomPageView-button-bar button {
    flex: 1;
}

.roomPageView-button-bar button:hover {
    background-color: rgb(54, 54, 54);
}

.spacing {
    flex-grow: 0.5;
}

.grayed-out {
    color: grey;
}