.summer {
    width: 100vw;
    height: 100vh;
    background: url('./Assets/SUMMER CUTSCENE.svg') no-repeat center center;
    background-size: contain;
    background-color: #d79f44b9;
}

.summer.greyed-out {
    filter: grayscale(100%);
    opacity: 0.5;
}

.summer button {
    font-size: 16px;
    background-color: #fff; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    z-index: 2; 
}

.summer-container {
    position: relative; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}

.summer-button-bar button:hover,
.summer-lord-buttons button:hover {
    background-color: #e0e0e0;
}
.summer-lord-buttons .farm-button {
    background-color: #fff;
    transition: background-color 0.5s;
}

.summer-lord-buttons .farm-button.active {
    background-color: #0aa739;
    color: black;
}
.summer-lord-buttons button:disabled,
.summer-button-bar button:disabled {
    cursor: not-allowed;
}
.chat-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.chat-box {
    position: absolute;
    top: 60px; 
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 3; 
    display: flex;
    flex-direction: column;
}

.summer-player-list {
    position: absolute;
    top: 1rem;
    left: 5.5rem;
}

.summer-button-bar {
    margin-top: 3rem;
}
.scout-list {
    display: none; 
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    max-height: 150px;
    position: absolute;
    overflow-y: auto;
    top: 50px; 
    left: 0; 
    z-index: 4;
    border-radius: 10px;
}

.summer-lord-buttons {
    position: relative; 
    display: flex;
    gap: 1.5rem;
}

.scout-list.active {
    display: block; 
}

.scout-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.scout-list li {
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
}

.scout-list li:hover {
    background-color: #f0f0f0;
}

.scout-list .selected {
    background-color: #d0e0ff;
    font-weight: bold;
}
