.summerResults {
    width: 100vw;
    height: 100vh;
    background: url('./Assets/SUMMER CUTSCENE.svg') no-repeat center center;
    background-size: contain;
    background-color: #d79f44b9;
}

.summerResults.greyed-out {
    filter: grayscale(100%);
    opacity: 0.5;
}

.summerResults-container {
    position: relative; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.nonlord-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.summerResults-player-list {
    position: absolute;
    top: 1rem;
    left: 5.5rem;
}
.grain-info {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute; 
    font-size: 0.9rem;
    top: 1rem; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 0.5rem; 
    border-radius: 0.5rem; 
    z-index: 2; 
}

.khanRole-text {
    animation: fadeIn 1.5s ease-in forwards;
    color:red;
}

.lordRole-text{
    animation: fadeIn 1.5s ease-in forwards;
    color: green;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
