.winter {
    width: 100vw;
    height: 100vh;
    background: url('./Assets/WINTER CUTSCENE.svg') no-repeat center center;
    background-size: contain;
    background-color: #799eefb9;
}

.winter-container {
    position: relative; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}

.winter-button-bar {
    display: flex;
    gap: 20px; 
}

.winter-button-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2; 
}

.winter-button-bar button:hover {
    background-color: #e0e0e0;
}

.chat-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.chat-box {
    position: absolute;
    top: 60px; 
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 3; 
    display: flex;
    flex-direction: column;
}

.pillage-button {
    position: relative;
    display: flex;
    gap: 1.5rem;
}

.pillage-list {
    display: none; 
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    max-height: 150px;
    position: absolute;
    overflow-y: auto;
    top: 0;
    left: 0; 
    z-index: 4;
    border-radius: 10px;
}

.pillage-list.active {
    display: block; 
}

.pillage-container {
    position: relative; 
    display: flex;
    justify-content: center;
}

.pillage-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.pillage-list li {
    padding: 0.5rem;
    cursor: pointer;
}

.pillage-list li:hover {
    background-color: #f0f0f0;
}