.winter {
    width: 100vw;
    height: 100vh;
    background: url('./Assets/WINTER CUTSCENE.svg') no-repeat center center;
    background-size: contain;
    background-color: #799eefb9;
}

.winter-container {
    position: relative; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}

.winter-button-bar {
    display: flex;
    gap: 20px; 
    margin-bottom: 1rem; /* Add margin to separate from list */
}

.winter-button-bar button, .pillage-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2; 
}

.winter-button-bar button:hover, .pillage-button:hover {
    background-color: #e0e0e0;
}

.chat-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.chat-box {
    position: absolute;
    top: 60px; 
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 3; 
    display: flex;
    flex-direction: column;
}

.winter-player-list {
    position: absolute;
    top: 1rem;
    left: 5rem;
}

.pillage-button {
    width: 100%; /* Align with Ready button */
    display: inline-block;
}

.pillage-button.selected {
    background-color: lightgreen;
    font-weight: bold;
}

.pillage-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    max-height: 150px;
    position: absolute;
    overflow-y: auto;
    top: 50px;
    right: 0; 
    z-index: 4;
    border-radius: 10px;
}

.pillage-container {
    width: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.1rem;
    gap: 0.1rem;
    justify-content: center;
}

.tick {
    display: inline-block;
    margin-left: 5px; /* Space between ticks */
    font-size: 16px; /* Adjust size as needed */
  }
  
