.autumnDouble {
    width: 100vw;
    height: 100vh;
    background: url('../Assets/AUTUMN CUTSCENE.svg') no-repeat center center;
    background-size: contain;
    background-color: #da7517b9;
}


.autumnDouble-container {
    position: relative; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}

.autumnDouble-button-bar {
    display: flex;
    gap: 20px; 
}

.status-container{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.autumnDouble-button-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2; 
}

.autumnDouble-button-bar button:hover {
    background-color: #e0e0e0;
}


.banished-player-name {
    animation: fadeIn 1.25s ease-in forwards;
    color: red;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


.non-banished-text {
    color: green;
    font-size:1.5rem;
}
