.help-button-container {
    position: absolute;
    display: inline-block;
    top: 1.4rem;
    right:2rem;
    z-index: 100;
  }
  
  .help-box {
    position: absolute;
    top: 40px; 
    right: 0px;
    width: 15rem;
    max-height: 13rem;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 8px;
    padding: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 100;
    overflow-y: auto;
  }
  
  .help-icon {
    width: 30px; 
    height: 30px; 
    cursor: pointer; 
    transition: transform 0.2s; 
  }
  
  .help-icon:hover {
    transform: scale(1.1); 
  }

  .spring-lord-header,
  .spring-king-header,
  .spring-khan-header {
    font-size: 1rem;
    font-weight: bold;
    color: greenyellow
  }

  .summer-lord-header,
  .summer-king-header,
  .summer-khan-header{
    font-size: 1rem;
    font-weight: bold;
    color: orange;
  }

  .autumn-lord-header,
  .autumn-king-header,
  .autumn-khan-header{
    font-size:1rem;
    font-weight:bold;
    color:coral
  }

  .winter-lord-header,
  .winter-king-header,
  .winter-khan-header{
    font-size:1rem;
    font-weight:bold;
    color:lightblue
  }
  