.summerResults {
    width: 100vw;
    height: 100vh;
    background: url('../Assets/SUMMER CUTSCENE.svg') no-repeat center center;
    background-size: contain;
    background-color: #d79f44b9;
}

.summerResults-container {
    position: relative; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.nonlord-text {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.grain-info {
    position: absolute; 
    font-size: 0.9rem;
    top: 1rem; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 0.5rem; 
    border-radius: 0.5rem; 
    z-index: 2; 
}

.khanRole-text {
    animation: fadeIn 1.5s ease-in forwards;
    color:red;
}

.lordRole-text{
    animation: fadeIn 1.5s ease-in forwards;
    color: green;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.grain-info {
    position: absolute;
    font-size: 1.5rem; /* Adjust size as needed */
    margin-top: 10px;
  }
  
  .grain-change {
    margin-left: 10px;
    opacity: 0; /* Start with invisible text */
  }
  
  .fade-animation {
    animation: fadeInOut 2s ease forwards;
  }
  
  /* Keyframes for fading in and out */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1; /* Fade in quickly */
    }
    80% {
      opacity: 1; /* Stay visible */
    }
    100% {
      opacity: 0; /* Fade out gradually */
    }
  }
  
