.winter {
    width: 100vw;
    height: 100vh;
    background: url('../Assets/WINTER CUTSCENE.svg') no-repeat center center;
    background-size: contain;
    background-color: #799eefb9;
}

.winter-container {
    position: relative; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}

.winter-button-bar {
    display: flex;
    gap: 20px; 
    margin-bottom: 1rem; /* Add margin to separate from list */
}

.winter-button-bar button, .player-button, .pillage-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2;
}

.winter-button-bar button:hover, .pillage-button:hover {
    background-color: #e0e0e0;
}

.winter-player-list {
    position: absolute;
    top: 1rem;
    left: 5rem;
}

.player-button {
    width: 100%; /* Align with Ready button */
    height: 2lh;
    color: black;
    background-color: grey;
    display: inline-flex;
    align-items: flex-start;
    text-align: left;
    padding: 0.05rem;
    white-space: pre;
}

.player-button img {
    height: 100%;
}

.pillage-button {
    width: 100%; /* Align with Ready button */
    height: 2lh;
    background-color: lightgreen;
    display: inline-flex;
    align-items: flex-start;
    text-align: left;
    padding: 0.05rem;
    white-space: pre;
}

    .pillage-button img {
        height: 100%;
    }

.pillage-button.selected {
    background-color: green;
    font-weight: bold;
}

.pillage-button.king {
    color: black;
    background-color: grey;
}

.pillage-button.khan {
    color: hsl(var(--khanColour), 100%, 50%);
    background-color: grey;
}

.pillage-button.banished {
    color: black;
    background-color: grey;
    text-decoration: line-through double 1px;
}

.pillage-button.pillaged {
    color: black;
    background-color: grey;
    text-decoration: line-through 2px;
}

.player-container {
    width: 30vh;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
    justify-content: center;
}

.pillage-container {
    width: 30vh;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
    justify-content: center;
}

.tick {
    display: inline-block;
    margin-left: 5px; /* Space between ticks */
    font-size: 16px; /* Adjust size as needed */
  }

.intro-container {
    position: relative;
    bottom :1rem;
    flex-direction: column;
    align-items: center;
}

.winter-title {
    font-size: 1rem;
    font-weight: bold;
    color: #799eefb9;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}
.winter-subtitle {
    font-size: 0.8rem;
}
  
